.search-bar {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0.5rem;
  background-color: #fff;
  border-radius: 999px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  outline: none;
}

.search-bar button {
  background-color:white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

@media (min-width: 768px) {
  .search-bar input {
    width: 85px;
  }

}


@media (min-width: 1024px) {
  .search-bar input {
    width: auto;
  }

}
