<footer>
  <div class="footer-content">
    <a routerLink="/about-us" class="about-link">Sobre Fandery</a>

    <div class="social-icons">
      <a href="https://t.me/ofertasdelego" target="_blank" rel="noopener" aria-label="Telegram">
        <i class="fab fa-telegram"></i>
      </a>
      <a href="https://whatsapp.com/channel/0029VbB3NJ3HbFV8JJOw9z1c" target="_blank" rel="noopener" aria-label="Whatsapp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
  <div class="text-legal">
    <p>2025 Fandery. Todos los derechos reservados.
      Todas las marcas registradas y nombres comerciales son propiedad de sus respectivos dueños.
      Fandery es un sitio independiente de comparación de precios de LEGO y no está afiliado, patrocinado ni autorizado por el Grupo LEGO.
      LEGO®, DUPLO®, TECHNIC®, NINJAGO® y otras marcas son propiedad del Grupo LEGO.
      </p>
  </div>
</footer>
