.themes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 0;
  margin-top: 16px;
}

.theme-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-item img {
  object-fit: contain;
}

.themes-list .theme-item a {
  text-decoration: none;
  color:  #d32f2f;
  font-weight: bold;
}

.others-categories {
  display: none;
}
