<div class="main-container">
  <app-header></app-header>
  <main>

    <h1 *ngIf="theme">Productos de la categoría: "{{ theme }}"</h1>
    <h1 *ngIf="query && !theme">Resultados para: "{{ query }}"</h1>

    <div class="mb-3">

      <!-- Botón solo visible en móvil -->
      <div class="d-md-none">
        <button class="btn w-100 d-flex justify-content-between align-items-center"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sortFilterCollapse"
                aria-expanded="false"
                aria-controls="sortFilterCollapse">
          <span><strong>Filtros y orden</strong></span>
          <i class="fa fa-chevron-down"></i>
        </button>
      </div>

      <div id="sortFilterCollapse" class="collapse d-md-block mt-2">

        <div class="sort-filter-block">
        <app-filter-toggle
          [filter]="filter"
          (filterChange)="setFilter($event)">
        </app-filter-toggle>

        <app-sort-buttons
        [sortOrder]="sortOrder"
        (sortChange)="setSortOrder($event)">
        </app-sort-buttons>
      </div>
    </div>
  </div>
    <div *ngIf="productos.length === 0" class="alert alert-warning mt-4">
      No se encontraron productos para esta búsqueda.
    </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 gy-2">
      <div class="col" *ngFor="let product of productosPaginados">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>

    <app-paginator
      *ngIf="productosFiltrados.length > 0"
      [currentPage]="currentPage"
      [pageSize]="pageSize"
      [totalItems]="productosFiltrados.length"
      (pageChange)="onPageChange($event)">
    </app-paginator>
  </main>
  <app-footer></app-footer>
</div>
