
.day-card {
  position: relative;
  padding: 10px;
  border: 2px solid #F2CB00;
  cursor: pointer;
  align-items: center;
  transition: transform 0.2s ease;
  min-height: 175px;
  text-align: center;
}

.day-number {
  font-size: 80px;
  font-weight: bold;
  color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
}

.price-final {
  font-weight: bold;
  color: #d32f2f;
  font-size: 1.1rem;
}

.price-final-no-offer {
  font-weight: bold;
  color: black;
  font-size: 1.1rem;
}

.price-original {
  text-decoration: line-through;
  color: #888;
  font-size: 1rem;
}

.discount {
  color: #388e3c;
  font-weight: 600;
}

.day-card .image {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

@media (min-width: 500px) {
  .day-card .image {
    width: 110px;
    height: 110px;
  }

  .day-card {
    min-height: 184px;
  }

}

@media (min-width: 768px) {
  .day-card .image {
    width: 250px;
    height: 250px;
  }

  .day-card {
    min-height: 325px;
  }

  .day-number {
    font-size: 100px;
  }

  .price {
    flex-direction: row;
    gap: 0.5rem;
  }

}

.day-card .title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .day-card .image {
    width: 200px;
    height: 200px;
  }
}

.expired {
  opacity: 0.5;
}


@media (max-width: 768px) {
  .col {
    padding: 5px !important;
  }
}
