.deals-section,
.promo-section {
  width: 100%;
  padding: 1rem 0;
}

.search-section {
  display: none;
}

@media (min-width: 1024px) {
  .deals-section,
  .promo-section {
    flex: 0 0 50%;
  }

  .search-section {
    display: block;
    padding-top: 1rem;
  }
}

.button-toggle {
  .btn {
    border-radius: 5px;
    border: 1px solid;
    font-weight: bold;
    color: black;
    transition: background-color 0.3s;
    margin: 10px;

    &.active-tab {
      background-color: #FFD500;
      color: #d32f2f;
      border-color: black;
      cursor: initial;
    }

    &.inactive-tab {
      background-color: white;
    }
  }
}

@media (max-width: 1024px) {
  .button-toggle {
    flex-direction: column !important;

    .btn {
      width: 100%;
      margin: 0.25rem 0;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .features {
    flex-direction: row;
  }
}

.seo-text  {
  margin-top: 30px;
    a {
    color: black;
    }
    h1 {
      font-size: 22px;
    }
    h2,h3 {
      font-size: 18px;
    }

}

.home-button-container {
  text-decoration: none;
  display: block;
  margin: auto;
  width: 80%;
}

.home-button {
  color: black;

  text-align: center;
  background-color: #ffc107;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5rem;
}
