<div class="main-container">
  <app-header></app-header>
  <main>
    <h2>Sobre Fandery</h2>
    <div class="about-container">
      <h4>¿Quiénes somos?</h4>
      <p>
        Este sitio web ha sido creado por fans de LEGO® para fans de LEGO®. No estamos afiliados oficialmente con LEGO Group.
      </p>

      <h4>Objetivo del proyecto</h4>
      <p>
        Nuestro objetivo es facilitar la compra de sets de LEGO, cuyo precio ha aumentado considerablemente en los últimos años.
        Este comparador de precios permite a los usuarios encontrar fácilmente las mejores ofertas entre diferentes tiendas online.
      </p>

      <h4>¿Cómo funciona?</h4>
      <p>
        Los precios se recopilan automáticamente a través de los programas de afiliación de las propias tiendas, y se actualizan diariamente. Solo se actualizan productos en stock.
        Algunas promociones puntuales (cupones, descuentos en el checkout, etc.) que no modifican el precio en la web se mostrarán en la sección de Promociones.
      </p>

      <h4>Transparencia y afiliación</h4>
      <p>
        Algunos enlaces incluyen parámetros de afiliado. Si compras a través de ellos, podemos recibir una pequeña comisión.
        Esto no afecta al precio que pagas, y nos ayuda a mantener los servidores, mejorar el sitio y añadir nuevas tiendas o funcionalidades.
      </p>

      <h4>Aviso legal</h4>
      <p>
        Fandery no vende productos directamente. Los usuarios son redirigidos a tiendas externas donde realizan sus compras bajo los términos y condiciones de dichas plataformas.
        Todos los logos, marcas y nombres comerciales utilizados pertenecen a sus respectivos propietarios.
      </p>
    </div>
  </main>
    <app-footer></app-footer>
  </div>
