.product-detail-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.product-detail-description .bricksetURL a {
  text-decoration: none;
  color:  #d32f2f;
}

.product-detail-description p {
  font-size: 0.9rem;
}
