@import "~swiper/swiper-bundle.min.css";


.swiper-container {
  padding: 20px 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: #ffc107;
  border-radius: 5px;
  width: 40px;
  height: 50px;
}


body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: bold;
  font-size: 28px;
}

.main-container {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  main {
    width: 80%;
  }
}

@media (max-width: 768px) {
  h1, h2 {
    background: #fff;
    margin: 0;
    z-index: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 28px;
  }
}
