
<div class="historic-info" *ngIf="isMinHistoric()">
  <span>Precio mínimo histórico</span>
</div>

<div *ngIf="product?.precios?.length" class="precios-container">

  <div *ngFor="let precio of product.precios" class="precio-wrapper">

  <div class="cart-advertising" *ngIf="precio.couponTypeApplied == 'Siniva' || precio.couponTypeApplied == 'Amazonahorra'">
    <i class="fa-solid fa-circle-info"></i>Descuento aplicado en la cesta/finalización de compra
  </div>
  <div class="cart-advertising" *ngIf="precio.couponTypeApplied == 'Flash' || precio.couponTypeApplied == 'Plus' || precio.couponTypeApplied == 'Amazoncoupon'">
    <i class="fa-solid fa-circle-info"></i>Validación de cupón en tienda
  </div>

  <a
  [href]="precio.url | affiliateLink: precio.store"
  target="_blank"
  rel="nofollow sponsored noopener noreferrer"
  class="precio-card {{ precio.store }} "
  [ngClass]="isPriceMinHistoric(precio.price) ? 'min-historic' : ''"
  (click)="trackStoreClick($event, precio)"
>
  <div class="store-info">
    <img
      [src]="storeLogos[precio.store]"
      [alt]="precio.store"
      class="store-logo"
    />
  </div>
  <div class="price-info">
    <div class="price">
      {{ (precio.price | number:'1.2-2') + ' €' }}
    </div>
    <div class="descuento" *ngIf="precio.descuento > 0">
      -{{ precio.descuento | number: '1.0-0' }}%
    </div>
    <div class="goToStore d-lg-none">
      Ir a tienda
    </div>
  </div>
</a>
</div>
  <p class="afiliado-aviso">
    Algunos enlaces de esta web son de afiliado, lo que significa que podríamos recibir una comisión, que utilizaremos para mantener y mejorar Fandery. Más info <a routerLink="/about-us" class="about-link">aquí</a>.
  </p>

</div>

